exportPattern("^[[:alpha:]]+")
importFrom("methods", "new")
exportClasses(aRchi); export(aRchi);exportMethods("plot")
importFrom("stats", "median")
importFrom("utils", "setTxtProgressBar", "txtProgressBar","tail")
importFrom("grDevices", "palette.colors")
import(data.table)
import(lidR)
importFrom(Rcpp,evalCpp)
useDynLib(aRchi, .registration = TRUE)
